<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Ficha Vendedor (vista alumno) </title>

    <!-- import Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="cyan">

<div class="row"><br><br></div>

<div class="container">
    <div class="row">
        <!-- primera columna, foto e información -->
        <div class="col s12 l6 center light-blue darken-4 white-text flow-text">
            <br>
            <img class="responsive-img" src="/static/app/placeholder2.png">

            <div class="row">Juan Perez</div>

            <div class="row">
                <div class="col s6 right-align">
                    Formas de pago:
                </div>
                <div class="col s6 left-align">
                    Efectivo <br>
                    Tarjeta de Debito
                </div>
            </div>

            <div class="row">
                Horario de atención:<br>
                10:00 - 22:00
            </div>

            <div class="row">
                <a class="btn-floating green">
                    <i class="material-icons">add</i>
                </a>
                Añadir a favoritos
            </div>
            <div class="row">
                <a class="btn-floating red">
                    <i class="material-icons">clear</i>
                </a>
                Quitar de favoritos
            </div>
        </div>


        <!-- segunda columna, menú -->
        <div class="col s12 l6">
            <h1 class="header center">Menú</h1>
        </div>
    </div>
</div>
</body>
</html>